{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>{% block Title %}Login{% endblock %}</title>
    <link rel="icon" href="{% static 'CodeShareIo/images/logo.png' %}" type="image/x-icon"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    {% block customCss %}{% endblock %}
    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
      width: 1px;
      min-width: 100%;
      *width: 100%;
      }
      .amb {
        margin-bottom: 35px!important;
      }
    </style>
  </head>
<body>
{% block body %}

{% endblock %}

</body>
  <script src="{% static 'CodeShareIo/js/jquery.min.js' %}"></script>
  <script src="{% static 'CodeShareIo/js/chart.js' %}"></script>
  <script src="{% static 'CodeShareIo/js/toolkit.js' %}"></script>
  <script src="{% static 'CodeShareIo/js/application.js' %}"></script>
  <script>
      // execute/clear BS loaders for docs
      $(function(){
        if (window.BS&&window.BS.loader&&window.BS.loader.length) {
          while(BS.loader.length){(BS.loader.pop())()}
        }
      })
      $('#sign').click(function(e) {
      e.preventDefault();
      e.stopPropagation();
      window.location.href = $(e.currentTarget).data().href;
      });
  </script>
{% block customScripts %}
{% endblock %}
</html>