{% extends 'CodeShareIo/baseLogin.html' %}
{% load static %}
{% block customCss %}<link href="{% static 'CodeShareIo/login/css/style.css' %}" rel="stylesheet">{% endblock %}
{% block body %}
    <div class="gb ut">
      <div class="uv">
        <form class="alq dj j">
          <a href="{% url 'CodeShareIo:index' %}" class="l amb">
          <img src="{% static 'CodeShareIo/images/logo.png' %}" alt="brand">
          </a>
          <p>Find your CodeShare account. <br>Enter your email, phone number, or username. If the user exist, an email will be sent to the account corresponding email address.</p>
          <div class="et">
            <input class="form-control" placeholder="Username" id="userRecovery">
          </div>
          <div class="amb">
            <button type="button" id="submit1" class="btn fp" onclick="try1()">Reset Password</button>
          </div>
           <p id="verification"></p>
          <footer class="apd">
            <a href="{% url 'CodeShareIo:login' %}" class="dp">Go back to login</a>
          </footer>
        </form>
      </div>
    </div>
{% endblock %}
    {% block customScripts %}
    <script>
      function try1(){
      var recovery = document.getElementById("userRecovery").value;
        console.log(recovery);
        if(recovery == null || recovery == ""){
           console.log("true");
           $('#verification').text("Enter a username, email or phone number");
           document.getElementById("verification").style.color = "#FF3838";

        }
        else{
          console.log("false");
          $('#verification').text("");
        }

    }
    </script>
  {% endblock %}